<h1 style="color:purple" align="center">Python Variables Tutorial</h1>

In [1]:
name = "mohammad"

In [3]:
print(name)

mohammad

In [4]:
full_name = "mohammd ashour"

In [5]:
print(full_name)

mohammd ashour

In [6]:
age = 20

In [7]:
print(age)

20

In [9]:
total_months = 1000 + 2000 + 5000

In [11]:
print(total_months)

8000

In [12]:
print(type(total_months))

<class 'int'>

In [13]:
print(type(full_name))

<class 'str'>

In [14]:
learn_python=True
learn_fortran=False

In [15]:
print(learn_fortran)

False

In [13]:
print(learn_python)

True

<h2 style="color:purple" align="center">variable naming rules</h2>

In [18]:
True = "mohammad"

SyntaxError: cannot assign to True (1533503370.py, line 1)

In [19]:
foo+bar=5

SyntaxError: cannot assign to operator (3056505076.py, line 1)

In [21]:
full_name = "ali mosatfa"

In [16]:
4you=6

SyntaxError: invalid syntax (3515380384.py, line 1)

In [22]:
$hi=5

SyntaxError: invalid syntax (2780468701.py, line 1)

In [18]:
foo$bar="hello"

SyntaxError: invalid syntax (3013886101.py, line 1)

In [25]:
first_name = "Mostafa "
last_name = "Ali"
print(first_name + last_name)
full_name = first_name + last_name

Mostafa Ali

In [26]:
age = 20

In [30]:
print("My Full g Is : " , 20)

My Full g Is :  20

<h2 style="color:purple" align="center"> variable names are case sensitive</h2>

In [19]:
name = "mohammad"
print(name)

mohammad

In [20]:
Name = "ahmed"
print(Name)

ahmed

In [21]:
Age = 36 
print(Age)

36

In [22]:
age = 22 
print(age)

22

<h2 style="color:purple" align="center">Exercise</h2>

**1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see**

**2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables**

**3. Store your first, middle and last name in three different variables and then print your full name using these variables**