In [1]:
def even_odd(num) : 
    if num%2 == 0 :
        return "the number is even".format(num)
    else : 
        return "the number is odd".format(num)

In [5]:
even_odd(11)

'the number is odd'

In [3]:
even_odd(15)

'the number is odd'

In [6]:
my_list_of_numbers = [1,2,3,5,4,88,12,65,0,45,9,75,78,64,2,15,17,91]

In [7]:
print(my_list_of_numbers)

[1, 2, 3, 5, 4, 88, 12, 65, 0, 45, 9, 75, 78, 64, 2, 15, 17, 91]

In [9]:
list(map(even_odd , my_list_of_numbers))

['the number is odd',
 'the number is even',
 'the number is odd',
 'the number is odd',
 'the number is even',
 'the number is even',
 'the number is even',
 'the number is odd',
 'the number is even',
 'the number is odd',
 'the number is odd',
 'the number is odd',
 'the number is even',
 'the number is even',
 'the number is even',
 'the number is odd',
 'the number is odd',
 'the number is odd']

In [13]:
tuple(map(even_odd , my_list_of_numbers))

('the number is odd',
 'the number is even',
 'the number is odd',
 'the number is odd',
 'the number is even',
 'the number is even',
 'the number is even',
 'the number is odd',
 'the number is even',
 'the number is odd',
 'the number is odd',
 'the number is odd',
 'the number is even',
 'the number is even',
 'the number is even',
 'the number is odd',
 'the number is odd',
 'the number is odd')

In [10]:
def male_or_female(n) : 
    if n == 1 :
        return "Male"
    else : 
        return "Female"

In [12]:
male_or_female(1)

'Male'

In [13]:
my_list_of_gender = [1,1,1,0,0,0,1,1,0,1,0,1,1,0,0]

In [15]:
list(map(male_or_female , my_list_of_gender))

['Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female']

In [16]:
list(map(male_or_female , my_list_of_gender))

['Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female']